:root {
	--font-text: 'Poiret One', sans-serif;
	--font-headings: 'Spirax', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--font-text);
	color: white;
}

body {
	min-height: 100dvh;
	background-color: darkred;
}

.header {
	background-color: rgba(37, 1, 20, 0.5);
	text-align: center;
	position: fixed;
	width: 100%;
	padding: 0.5rem;
}

.header .link {
	font-family: var(--font-headings);
	text-decoration: none;
	font-size: 1.3rem;
}

.header .link:not(:last-child) {
	margin-right: 1.5rem;
}

.section {
	min-height: 100dvh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section:is(#hot) {
	background-image: url('/images/hot.jpg');
}

.section-content {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-family: var(--font-headings);
	color: darkred;
}
